# System files
.fuse_hidden*
.DS_Store
._.DS_Store
._*

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Session Data files
.RData

# History files
.Rhistory
.Rapp.history

## for initial comit, then after clean up add it
# Figures
_Figures/All_Fig_*
_Figures/Fig*
_Figures/Supplementary_Fig*
_Figures/Schemes*
_Figures/Twitter*
_Figures/plots*
_Figures/various*
_Figures/Cover*
_Figures/Graphical_Abstract*

# Old analysis code
_Code/Fig5/pdf*
_Code/Fig5/tables*
_Code/PreRevision_Analysis*

# All slides
_Slides/*

# All numbered files and subfolders
0*
1*
2*


## Never commit
*_Arecco.pdf
_Manuscript/notes_*.txt
_Manuscript/bioRxiv/*.xlsx
