## System files
.fuse_hidden*
.DS_Store
._.DS_Store
._*

## Temporary files created by R markdown
*.utf8.md
*.knit.md

## Session Data files
.RData

## History files
.Rhistory
.Rapp.history

## Figure files
*.ai
_Figures/All_Fig_PDFs/Merged_Fig*
_Figures/Supplementary_Fig*
_Figures/Schemes*
_Figures/Figure_Model*
_Figures/Twitter*
_Figures/plots*
_Figures/various*
_Figures/Cover*
_Figures/Graphical_Abstract*

# Old analysis stuff
_Code/PreRevision_Analysis*

## Power point presentations
_Slides/*

# All numbered files and subfolders
0*
1*
2*

## Paper related things
*_Arecco.pdf
_Manuscript/notes_*.txt
_Manuscript/bioRxiv/*.xlsx
